@model Vuelos.Models.Movie

@{
	ViewBag.Title = Model.Name;
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Detalles de la película <b>@Model.Name</b></h3>
<ul>
	<li>Género: @Model.Genre.Name</li>
	<li>Año de lanzamiento: @Model.ReleaseDate.Value.ToShortDateString()</li>
	<li>Fecha agregada: @Model.DateAdded.ToShortDateString()</li>
	<li>Stock: @Model.NumberInStock</li>
</ul>

